*
{
    box-sizing: border-box;
}
.nav
{
    
    width:100%;
    height:100px;
    display:block;
    background-color:#f3d6a4;
    position: fixed;
    top:0;
    margin: 10px 0;
    
    z-index: 1;
    right:0;
    left:0;
}
li{
    font-size: 30px;
    font-weight: 800;
    line-height: 200%;
    list-style-type: none; 
    display: inline;
    padding:5px 20px;
    text-align: right;
}
ul{
    position:fixed;
    right:20px;
    
}
a:hover{
    background-color:blue;
    color:#f3d6a4;
    text-decoration: none;
}
.flexheader
{
    display: block;
    text-align:center;
    font-size: 3rem;
    text-decoration: underline;
    padding-bottom: 3px;
    color: green;
    background-color: blanchedalmond;
    position: absolute;
    margin: 100px auto ;
    z-index: 0;
   
}
.flex
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;

}
.flex img{
     
        width:100%;
        height: 300px;
        object-fit: cover;
        margin-top: 20px;
        padding: 10px 4px;
        border-radius: 10px;
      
}
@media (max-width: 800px) {
    .flex img {
      width: 50%;
    }
  }
  @media (max-width: 600px) {
    .flex img {
      width: 100%;
    }
  }
  section{
    display: block;
    margin:10px;
  }